/* Arfully Masterminded by ZURB */

/* -------------------------------------------------- 
    Table of Contents
-----------------------------------------------------
:: Reset & Standards
:: Typography
:: Links
:: Lists
:: Mobile-Friendly Grid
:: Tables
:: Misc
:: Block Grids
:: Mobile Visbility
*/
	
	
	body { background: #fff; font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; font-size: 13px; line-height: 18px; color: #555; position: relative; -webkit-font-smoothing: antialiased; }
	

/*	--------------------------------------------------
    :: Typography
	-------------------------------------------------- */
	
	em { font-style: italic; line-height: inherit; }
	strong { font-weight: bold; line-height: inherit; }
	small { font-size: 0.8rem; line-height: inherit; }
	

	
	
/* --------------------------------------------------
	:: Grid
	-------------------------------------------------- */

	.container { padding: 0px 20px; }
	
	.row { width: 100%; max-width: 940px; min-width: 727px; margin: 0 auto; }
	/* To fix the grid into a certain size, set max-width to width */
	.row .row { min-width: 0px; }
	
	.column, .columns { margin-left: 4.4%; float: left; min-height: 1px; position: relative; }
	.column:first-child, .columns:first-child { margin-left: 0px; }
	
	.row .one.columns { width: 4.3%; }
	.row .two.columns { width: 13%; }
	.row .three.columns { width: 21.7%; }
	.row .four.columns { width: 30.4%; }
	.row .five.columns { width: 39.1%; }
	.row .six.columns { width: 47.8%; }
	.row .seven.columns { width: 56.5%; }
	.row .eight.columns { width: 65.2%; }
	.row .nine.columns { width: 73.9%; }
	.row .ten.columns { width: 82.6%; }
	.row .eleven.columns { width: 91.3%; }
	.row .twelve.columns { width: 100%; }
	
	.row .offset-by-one 	{ margin-left: 8.7%;  }
	.row .offset-by-two 	{ margin-left: 17.4%;  }
	.row .offset-by-three 	{ margin-left: 26.1%;  }
	.row .offset-by-four 	{ margin-left: 34.8%;  }
	.row .offset-by-five 	{ margin-left: 43.5%;  }
	.row .offset-by-six 	{ margin-left: 52.2%;  }
	.row .offset-by-seven 	{ margin-left: 60.9%;  }
	.row .offset-by-eight 	{ margin-left: 69.6%;  }
	.row .offset-by-nine 	{ margin-left: 78.3%;  }
	.row .offset-by-ten 	{ margin-left: 87%;  }
	.row .offset-by-eleven 	{ margin-left: 95.7%;  }
	
	img, object, embed { max-width: 100%; }
	img { -ms-interpolation-mode: bicubic; }
		
	
	/* Clear the columns automagically */
	 .row:after, .clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
	 .row:last-child:after { content: ""; }
	 * html .row, * html .clearfix { height: 1%; }
	 .row, .clearfix { display: inline-block; }
	 .row, .clearfix { display: block; }

